.myDialog::-webkit-scrollbar {
  width: 6px;
}
.myDialog::-webkit-scrollbar-track {
  background: #1f2937;
}
.myDialog::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 9999px;
}
.myDialog::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

/* For Firefox */
.myDialog {
  scrollbar-width: thin;
  scrollbar-color: #374151 #1f2937;
}
